body{
    background: blue;
    color: black;
    margin: 0px;
    font-family: "Stylish", serif;
    margin-bottom: 100px;
}

.chamada{
    background: rgb(69, 69, 202);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color: rgba(235, 127, 77, 0.699);
    font-size: 40px;
    margin-bottom: 3px;
    padding: 20px;
}
.chamada-texto{
    margin-right:5%;
}
h1{
    font-size: 35px;
}